:root {
  /* --color-- */
  --color-bg: #f8efe2;
  --color-font: #aa9e8b;
  --color-list: #867861;
  --color-white: white;

  /* --size-- */
  --date-size: 1.5em;
  --clock-size: 4em;
  --name-size: 3em;
  --ask-size: 2em;
  --input-padding: 10px;
  --todo-size: 2em;
  --todo-button-size: 3em;
  --check-margkn: 3em;
  --button-size: 1em;
  --button-margin-size: 1em;
  --box-button-size: 2em;
  --list-box-margin: 3em;
  --list-margin: 20px;
}

::placeholder {
  color: var(--color-list);
}

::-webkit-scrollbar {
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-list);
}

button {
  cursor: pointer;
}

body {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-font);
  font-family: "Sunflower", sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  min-width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  background: none;
  color: var(--color-font);
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40%;
  margin-bottom: 40%;
}

.date {
  font-size: var(--date-size);
}

.time {
  font-size: var(--clock-size);
}

.user {
  margin-bottom: auto;
  text-align: center;
}

.user_form {
  display: none;
}

.user_form input {
  border: none;
  background-color: none;
  font-size: var(--ask-size);
  text-align: center;
  color: var(--color-font);
  background: none;
  border-bottom: solid 1px var(--color-font);
  padding-bottom: var(--input-padding);
  width: 80%;
}

.user_name {
  width: 80%;
  display: none;
  font-size: var(--name-size);
  margin: auto;
}

.showing {
  display: block;
  overflow-wrap: anywhere;
}

.todo span {
  margin-right: 40px;
}

aside button {
  font-size: var(--todo-button-size);
}

.bottom {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin-bottom: 10%;
}

main {
  width: 75%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-size: cover;
}

.box {
  width: 900px;
  height: 800px;
  background-color: var(--color-white);
  border-radius: 10%;
  opacity: 0.95;
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.show_box {
  display: flex;
}
.todo_form_box {
  height: 30%;
  display: flex;
  align-items: center;
}

.todo_form_box button {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: var(--box-button-size);
}

.todo_form input {
  border: none;
  background-color: none;
  font-size: var(--todo-size);
  text-align: center;
  color: var(--color-list);
  background: none;
}

.todo_box {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: var(--list-box-margin);
}

.todo_list {
  font-size: var(--todo-size);
}

.todo_list li {
  margin-top: var(--list-margin);
  color: var(--color-list);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo_list input {
  margin-right: var(--check-margkn);
}

.todo_list span {
  width: 550px;
}

.todo_list li button {
  font-size: var(--button-size);
  margin-left: var(--button-margin-size);
  margin-right: var(--button-margin-size);
}

.checked {
  text-decoration: line-through;
}

.todo_list input[type="checkbox"] {
  cursor: pointer;
}
